# fly.toml app configuration file generated for pharmacy-node on 2023-07-17T11:59:09+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "pharmacy-node"
primary_region = "nrt"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]
